name: Pages
on:
  push:
    branches:
    - main
    paths:
    - 'pyqtribbon/**'
    - 'docs/source/**'
  # pull_request event is required only for autolabeler
  pull_request:
    # Only following types are handled by the action, but one can default to all as well
    types: [opened, reopened, synchronize]
  # pull_request_target event is required for autolabeler to support PRs from forks
  # pull_request_target:
  #   types: [opened, reopened, synchronize]
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    concurrency: pages_staging_environment
    strategy:
      matrix:
        python-version: ['3.10']
    steps:
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/checkout@master
      with:
        fetch-depth: 0 # otherwise, you will fail to push refs to dest repo
    - name: Install the package
      run: |
        pip install .
    - name: Build and Commit
      uses: sphinx-notes/pages@v2
      with:
        documentation_path: docs/source
        requirements_path: docs/requirements.txt
        sphinx_version: 4.5.0
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
