name: pytest

on:
  push:
    branches:
    - main
    paths:
    - 'pyqtribbon/**'
    - '.github/workflows/pytest.yaml'
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        pyqt-version: ["PyQt5", "PyQt6", "PySide2", "PySide6"]
        exclude:
          - python-version: "3.11"
            pyqt-version: "PySide2"
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Lint with flake8
        run: flake8 --exit-zero
      - name: Build the package
        run: |
          pip install build
          python -m build
      - name: Test with tox
        run: tox
      - name: Upload coverage to coveralls
        if: ${{ matrix.python-version == '3.11' && matrix.pyqt-version == 'PyQt6' && github.event_name == 'push' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          coveralls --service=github
